.button {
	padding: 8px 15px;
	margin: 15px auto;
	font-size: 1.8em;
	text-decoration: none;
	cursor: pointer;
	background-color: transparent;
	color: #172b4d;
	border: 6px double #172b4d;
	border-radius: 8px;
	outline: none;
	justify-self: center;
	transition: all 0.5s ease;
}

.button:hover {
	background-color: #9575cd;
	color: #fff;
}
