* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.notFound {
	display: grid;
	justify-content: center;
	justify-items: center;
	align-content: center;
	row-gap: 50px;

	width: 50%;
	height: 60vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	margin: auto;
	background-color: #ffffffa2;
	border: 1px solid #6b778ca2;
	border-radius: 5px;
	box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
}

.header {
	font-size: 3.5em;
	color: #172b4d;
}

.description {
	font-size: 2.5em;
	color: #6b778c;
}

.goBackBtn {
	padding: 8px 15px;
	font-size: 2em;
	text-decoration: none;
	cursor: pointer;
	background-color: transparent;
	color: #172b4d;
	border: 6px double #172b4d;
	border-radius: 8px;
	outline: none;
}
