.header {
    max-width: 1640px;
    width: 90%;
    margin: 0;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 120px;
    height: 80px;
}

.logo img {
    width: inherit;
    height: inherit;
}